.diet-section{
    margin-top: 9vh;
}
.sml-input{
    width: 300px !important;
    margin: 0 auto;
}
.back-page{


    margin: 0;
    padding: 0;
}
.btnDiet{
    width: 300px;
}
.done-button{
    border: none;
    width: 180px;
    background-color: #4F6D7A;
    color:  #fff;
    height: 50px;
    border-radius: 20px;

}
